<ion-view view-title="About">
  <!-- do you want padding? -->
  <ion-content class="padding">

    
    <div class="card">
      <div class="item item-divider">
        Endeverus Taxis
      </div>
      <div class="item item-text-wrap">

        <p>All the amazing things about the company you work for! </p>
        <p>Shoreditch aesthetic squid, 90's tousled fap tattooed Odd Future Bushwick authentic try-hard keytar. Pug cray mixtape whatever kogi,</p>
        <ul>
          <li>- Etsy sustainable photo booth tattooed +1 synth shabby chic banh mi 90's paleo. Beard skateboard tote bag Etsy paleo.</li>
          <li>- Whatever drinking vinegar DIY, chambray cornhole Vice Bushwick. </li>
          <li>- Gluten-free 8-bit fashion axe aesthetic, actually Carles four dollar toast cred. </li>
          <li>- Freegan pickled viral Portland,</li>
        </ul>
        <p>Thundercats fashion axe salvia Brooklyn stumptown craft beer next level. Austin ugh kitsch, occupy Banksy selvage meggings.</p>

      </div>
    </div>

  </ion-content>
</ion-view>
