<ion-view view-title="Settings">
  <!-- do you want padding? -->
  <ion-content class="">
    <div class="item item-divider">
      User Settings
    </div>
    <div class="card">
      <div class="item item-divider">
        Driver Details
      </div>
      <div class="item item-text-wrap">
        <label class="item item-input item-floating-label">
          <span class="input-label">User Name</span>
          <input type="text" ng-model="settings.user.username" placeholder="First Name">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="settings.user.firstName" placeholder="First Name">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="settings.user.lastName" placeholder="Last Name">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Email Address</span>
          <input type="email" ng-model="settings.user.email" placeholder="Email Address">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Telephone</span>
          <input type="tel" ng-model="settings.user.contactNumber" placeholder="Telephone">
        </label>
      </div>
    </div>
   <div class="card">
      <div class="item item-divider">
        Vehicle Details
      </div>
      <div class="item item-text-wrap">
        <label class="item item-input item-floating-label">
          <span class="input-label">Car Description</span>
          <textarea class="" ng-model="settings.user.carDescription" placeholder="Car Description"></textarea>
        </label>
         <label class="item item-input item-floating-label">
          <span class="input-label">Car Registration</span>
           <input type="text" ng-model="settings.user.carReg" placeholder="Car Registration">
        </label>
      </div>
    </div>
    <div class="item item-divider">
      App Settings
    </div>

    <div class="card">
      <div class="item item-divider">
        Order Marketplace Jobs By:
      </div>
      <div class="item item-text-wrap">
        <ion-radio ng-model="choice" ng-value="'Newest'">Date Newest</ion-radio>
        <ion-radio ng-model="choice" ng-value="'Oldest'">Date Oldest</ion-radio>
        <ion-radio ng-model="choice" ng-value="'Closest'">Location Closest</ion-radio>
        <ion-radio ng-model="choice" ng-value="'Longest'">A to B Distance Longest</ion-radio>
        <ion-radio ng-model="choice" ng-value="'Shortest'">A to B Distance Shortest</ion-radio>
      </div>
    </div>
    
    
    
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-positive">
    <h1 class="title">Action!</h1>
    <div class="buttons" ng-click="details.takeJob()">
      <button class="button button-positive">Save</button>
    </div>
  </ion-footer-bar>
  
</ion-view>
